    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/logo.svg" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a href="index.html" title="Home">Home</a></li>
                <li><a routerLink="/home/about" title="About">About</a></li>
                <li><a routerLink="/home/events" title="Services">Events</a></li>
                <li><a routerLink="/home/contact" title="Contact us">Contact</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header>
