 <app-st-header></app-st-header>




    <section class="s-hero" data-parallax="scroll"
             style="background-image: url('images/hero-bg-3000.jpg');background-repeat: no-repeat;background-size: cover"
              data-position-y=center>

        <div class="hero-left-bar"></div>

        <div class="row hero-content">

            <div class="column large-full hero-content__text">
                <h1>
                    We Exist To <br>
                    Honor God And <br>
                    Make Disciples
                </h1>

                <div class="hero-content__buttons">
                    <a href="events.html" class="btn btn--stroke">Upcoming Events</a>
                    <a href="about.html" class="btn btn--stroke">About Us</a>
                </div>
            </div>

        </div>

        <ul class="hero-social">
            <li class="hero-social__title">Follow Us</li>
            <li>
                <a href="#0" title="">Facebook</a>
            </li>
            <li>
                <a href="#0" title="">YouTube</a>
            </li>
            <li>
                <a href="#0" title="">Instagram</a>
            </li>
        </ul> <!-- end hero-social -->

        <div class="hero-scroll">
            <a href="#about" class="scroll-link smoothscroll">
                Scroll For More
            </a>
        </div> <!-- end hero-scroll -->

    </section> <!-- end s-hero -->

    <section id="about" class="s-about">

        <div class="row row-y-center about-content">

            <div class="column large-half medium-full">
                <h3 class="subhead">Welcome to Apostle Justus Ministries</h3>
                <p class="lead">
                Vero autem et officiis officia sint in odio in iusto.
                Blanditiis tempore ipsa saepe quaerat quas sed. Ut velit
                necessitatibus est repellat sunt quia fuga doloremque.
                Nostrum et ut optio suscipit eos quisquam et. Nulla molestiae
                voluptates hic et accusantium occaecati recusandae veniam cum.
                </p>

            </div>

            <div class="column large-half medium-full">
                <ul class="about-sched">
                    <li>
                        <h4>Main Church Service</h4>
                        <p>
                        Sunday - 9:00 AM | 1:00 PM | 4:30 PM <br>
                        1600 Amphitheatre Parkway, Mt. View, CA, 94043
                        </p>
                    </li>
                    <li>
                        <h4>Kids Church</h4>
                        <p>
                        Sunday - 9:00 AM | 1:00 PM | 4:30 PM <br>
                        1600 Amphitheatre Parkway, Mt. View, CA, 94043
                        </p>
                    </li>
                    <li>
                        <h4>Prayer Meeting</h4>
                        <p>
                        Saturday - 7:00 PM <br>
                        1600 Amphitheatre Parkway, Mt. View, CA, 94043
                        </p>
                    </li>
                </ul>
            </div>

        </div>

    </section>



    <section class="s-series">

        <div class="series-img" style="background-image: url('images/series-2000.jpg');"></div>

        <div class="row row-y-center series-content">

            <div class="column large-half medium-full">
                <h3 class="subhead">Current Series</h3>
                <h2>Shape Your Life with the Words of Life.</h2>
                <p>
                Aut sed amet et quis aliquid laborum minus consequatur. Animi repellendus quas.
                Est voluptates minima ut dolorum aliquid sint. Ratione et et molestias rerum
                quibusdam. Deserunt suscipit ut expedita. Non numquam aut eum perferendis
                molestiae praesentium aliquid voluptatum numquam dolorum aliquid sint minima.
                </p>
            </div> <!-- end column -->

            <div class="column large-half medium-full">
                <div class="series-content__buttons">
                    <a href="" class="btn btn--large h-full-width">Watch the Video</a>
                    <a href="" class="btn btn--large h-full-width">Listen To the Message</a>
                </div>

                <div class="series-content__subscribe">
                    <p>
                    Never missed a message. Subscribe to our YouTube and Podcast channels.
                    </p>

                    <ul class="series-content__subscribe-links">
                        <li class="ss-apple-podcast"><a href="#0">Apple Podcast</a></li>
                        <li class="ss-spotify"><a href="#0">Spotify</a></li>
                        <li class="ss-soundcloud"><a href="#0">SoundCloud</a></li>
                        <li class="ss-youtube"><a href="#0">Youtube</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </section>



<app-st-social></app-st-social>





   <app-st-footer></app-st-footer>
